id ICON "cai.ico"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Tobias Genberg"
      VALUE "FileDescription", "Simple CAI Application"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "cai"
      VALUE "LegalCopyright", "Tobias Genberg"
      VALUE "OriginalFilename", "Cai-0.1.0-alpha.exe"
      VALUE "ProductName", "Cai"
      VALUE "ProductVersion", "0.1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
